.wrapper {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  font-size: 14px;
}

.input {
  font-size: 1rem;
  margin: 0;
  padding: 6px;
  background-color: var(--interaction-bg);
  border-radius: 5px;
  border: 1px solid var(--interaction-border);
}

.input--error {
  background-color: var(--input-error-bg);
  border: 1px solid var(--input-error-border);
}

.input:hover,
.input:focus-visible {
  background-color: var(--letter-hover);
  border: 1px solid var(--input-hover-border);
}

.input:focus {
  outline: none;
}
