.modal__input {
  width: 500px;
}

.modal__search-area {
  width: 500px;
  height: 350px;
  background-color:var(--primary-bg);
  border-radius: 5px;
  border: 1px solid var(--interaction-border);
  padding: 10px;
  overflow: auto;
}

.modal__button-show {
  width: max-content;
  align-self: center;
}

.modal__not-found {
  margin: 0;
}
