@import '../variables.css';

.button {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-bg);
  border-radius: 5px;
  border: 2px solid var(--primary-border);
  padding: 5px;
  min-width: 100px;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--primary-hover);
  }

  &:focus {
    outline: none;
  }
}

.interaction-button {
  display: flex;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: var(--interaction-bg);
  border: 1px solid var(--interaction-border);
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus-visible {
    background-color: var(--primary-hover);
  }

  &:focus {
    outline: none;
  }
}
