.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  position: relative;
}

.form__inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form__error {
  position: absolute;
  bottom: 42px;
  color: var(--error);
  font-size: 1rem;
  margin: 0;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
