.contact-table {
  display: flex;
}

.contact-table__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(13, min-content);
  grid-auto-rows: min-content;
  grid-auto-flow: column;
  column-gap: 30px;
}
